# This file should be renamed to `.env` for customized settings
# You can also use `.env.development` and `.env.production` for specific settings on each environment

# JSON file containing the OAuth2 credentials
CREDENTIALS_PATH="credentials.json"

# File with the token provided by the Google APIs when authorized for first time
TOKEN_PATH="token.json"

# Google spreadsheet ID for the auto generated spreadsheet
AUTO_SPREADSHEET_ID=""

# Google Edu365 map spreadsheet ID
EDU_MAP_SPREADSHEET_ID=""

# Spreadseet page name
SPREADSHEET_PAGE="pages"

# Auth secret
AUTH_SECRET=""

# Log file path
LOG_FILE="log/combined.log"

# Log to console (true|false)
LOG_CONSOLE=true

# Log level
LOG_LEVEL="debug"

# App port
APP_PORT=8080

# Max length of query
QUERY_MAX_LENGTH=128


