#searchesTable_wrapper,
#mostWantedTable_wrapper {
    width: 100%;
}

#searchesTable_paginate,
#mostWantedTable_paginate {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#mostWantedTable_info,
#searchesTable_info {
    text-align: center;
}
.yadcf-filter-wrapper {
    width: 100%;
}

#yadcf-filter--mostWantedTable-0 {
    width: 80%;
}

#yadcf-filter--mostWantedTable-from-1,
#yadcf-filter--mostWantedTable-to-1 {
    width: 35%;
}

.sorting_desc,
.sorting_asc {
    background-color: antiquewhite;
}

#searchesTable_wrapper #yadcf-filter-wrapper--searchesTable-4 {
    width: 100%;
}

#searchesTable_wrapper #yadcf-filter--searchesTable-from-date-4,
#searchesTable_wrapper #yadcf-filter--searchesTable-to-date-4 {
    width: 45%
}

#searchesTable_wrapper th:last-of-type,
#mostWantedTable_wrapper th:last-of-type {
    padding-right: 55px;
}

#searchesTable_wrapper input#yadcf-filter--searchesTable-1,
#searchesTable_wrapper input#yadcf-filter--searchesTable-2 {
    width: 80%;
}

#mostWantedCard .dateFilterContainer {
    margin-bottom: 15px;
    text-align: center;
}

.dateButtons {
    text-align: center;
}

.dateButtons button {
    margin-bottom: 15px;
}

#mostWantedCard .dateFilterContainer input {
    width: 140px;
}