# This file should be renamed to `.env` for customized settings
# You can also use `.env.development` and `.env.production` for specific settings on each environment

CREDENTIALS_PATH="credentials.json"
TOKEN_PATH="token.json"
# Google spreadsheet ID
SPREADSHEET_ID=
# Spreadseet page name
SPREADSHEET_PAGE=
